<div class="containergracias">
    <h1>¡Factura Enviada!</h1>
    <p>Nos complace informarte que hemos enviado la factura de tu compra a tu correo electrónico. ¡Gracias por elegir Café Aroma!</p>
    <p>Si no encuentras el correo en tu bandeja de entrada, revisa la carpeta de spam o promociones.</p>
    <p>Para más información o dudas, no dudes en contactarnos.</p>

    <a href="mailto:andreamartinezmoreno@hotmail.com" class="btn">Contactar con nosotros</a>

    <div class="footergracias">
        <p>Gracias por tu preferencia. ¡Esperamos verte pronto!</p>
    </div>
</div>