<script src="https://kit.fontawesome.com/861f1891b3.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.1/lottie.min.js"></script>
<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <!-- logo -->
            <a class="navbar-brand" href="/">
                <img src="assets/4.svg" alt="Logo" width="50px">
            </a>
            
            <!-- hamburguesa -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- contenido menu -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav text-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/menu">menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/focus">focus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logros">achievements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carrito">
                            <img class="icon-img" src="imagenes/cesta.png" alt="Cesta">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">
                            <img class="icon-img" src="assets/5.svg" alt="Usuario">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <style>
        .icon-img {
            width: 30px; 
            height: 30px;
        }
        .navbar
        {
            max-height: 50px;
            position: relative; 
            z-index: 1050;
            
        }

        ul a:nth-child(-n+4) {
            margin-top: 20px;
        }

        .navbar-collapse {
            position: relative;  
            z-index: 1051;  
        }


    </style>