<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('HEAD'); %>
    

</head>
<body>
    <%- include('HEADER'); %>
    
    <main>
        <%- body %> 
    </main>
    <footer>
        <%- include('FOOTER'); %>
    </footer>
    
</body>
</html>

